@charset "utf-8";

#footer {
	float:left;
	width:1000px;
	height:auto;
	padding-top:50px
	
}
#footer img {
	padding-left:400px;
	width: 200px;
}


#wrap {
	position:relative;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
#nav {
	background-color: #000000;
	float: left;
	height: 50px;
	width: 1000px;
}
#hlogo {
	height: 55px;
	width: 110px;
	position: absolute;
	left: 8px;
	top: 17px;
}
#center1 {
	float: left;
	height: 360px;
	width: 1000px;
}
#center1_ph1 {
	float: left;
	position:absolute;
	top:106px;
	left:21px;
}
#center1_ro1 {
	float: left;
	position:absolute;
	top:333px;
	right:50px;
}
#center2 {
	float:left;
	width:1000px;
	height:420px;
	padding-top:20px;
	padding-left:10px;
}
#center2_1yu {
 float:left;
 width:700px;
 height:400px;
}
#center2_2ri {
	float:left;
	width:271px;
 	height:396px;
	margin-left:10px;
}
#bgbk {
	background-color: #000000;
	float: left;
	height: 50px;
	width: 1000px;
}

#cneter_3{
	width:1000px;
}
#center3 {
	float: left;
	height: 129px;
	width: 826px;
	margin-top: 79px;
	margin-left: 85px;
}
#center3_1{
position: absolute;
	left: 278px;
	top: 1080px;
	height: 136px;
	width: 443px;
}
#hbgc {
	float: left;
	height: 8px;
	width: 1000px;
	margin-top: 15px;
}

#center4 {
	float:left;
	width:1000px;
	height:500px;
}


#center5 {
	width:1000px;
}
#center5_1 {
	float:left;
	width:700px;
	margin-top:50px;
	margin-left:150px;
}
#center5_1_1 {
	float:left;
	width:200px;
}
#center5_1_2 {
	float:left;
	width:200px;
	margin-left:50px;
}
#center5_1_3 {
	float:left;
	width:200px;
	margin-left:50px;
}#center5_1  img {
	width:200px;
	height:auto;
	margin-bottom:50px;
}

#center6 {
	float:left;
	width:1000px;
	padding-top:44px;
	padding-left:44px;

}
.mv_vdwrap {
	float:left;
	width:912px;
	height:400px;
	margin-bottom:44px;	
}
.mv_pos {
	float:left;
	width:220px;
	height:293px;	
}
.mv_pos  img {
	width:220px;
	height:293px;
}
.mv_inpo {
	float:left;
	width:600px;
	height:294px;
	margin-left:20px;
}

.mv_story {
	float:left;
	width:800px;
	height:auto;
	margin-top:20px;
	margin-bottom:40px;
}

.mv_storytxt {
	word-break: normal;
	color: #666;
}